*{
    font-family: 'Raleway', sans-serif;
}



.button-centered {
    margin: auto 10rem;
}

.glyph-link {
    font-size: 25rem;
}

.chat-widget{
    max-width: 473px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #ccc;
    padding: 15px;
    box-shadow: -1px 2px 9px #888;

}

.close-button{
    border-radius: 4px;
}

.list-wrapper{
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:15px;
    margin-top:15px;
    margin-bottom:15px;
}

.off-white{
    background-color: #f8f8f8;
}

.light-blue{
    border: 1px solid #bce8f1;
}

.light-blue-text {
    color: #bce8f1;
    font-weight:200;
    font-style: italic;
}